


.welcome{
    background-color: rgb(122, 34, 156);
    
}

.navbar{
    background-color: rgb(33, 4, 59);
    
}



.logo{
    margin-top: 2px;
    border: 5px solid #330202;
}

.topnav-right{
float: right; 
margin-left: 57cap;  
}

.bright{
    margin-right: 2cap;
}



.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }

  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
